.mainHeader {
  margin-left: 20px;
}
.albumName {
  max-width: 200px;
  align-content: center;
}
.artistName {
  font-size: 20px;
}
.cardButton {
  position: absolute;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-style: solid;
  border-width: 3px;
  border-color: #1ed760;
}
div .titleBar {
  width: 100%;
  min-height: 100px;
  background-color: rgb(0, 0, 0);
}

.stockifyLogo {
  max-height: 100px;
  position: absolute;
  left: 200px;
}

div .sideBar {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  min-width: 250px;
  min-height: 500px;
}

div .mainArea {
  display: flex;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.mainContainer {
  background-color: black;
}

.navLink{
  display: flex;
  font-size: 20px;
}

.genreArt {
  width: 200px;
  padding: 20px;
}

.coverArt {
  width: 200px;
  border-top-right-radius: 20px;
}

.container {  
  display: flex;
  flex-wrap: wrap;
}

.cardContainer {
  position: relative;
  margin: 10px;
  background-color: #ffffff;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 0.5rem #1ed760;
}